{% extends "base.html" %}

{% block content %}
	<h1>Welcome to the Weather App  <button type="button" class="btn btn-info">v1.28</button></h1>
	<h2>City Search</h2>
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right">
		Help   
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="staticBackdropLabel">Help</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  Welcome to the Weather App!
			  <br>To get started search up a city to get it's weather data, if the data is aquired unsuccessfully an error message will pop up, try checking the spelling of the city
			  <br>Once you've searched up many cities, you can view all the cities in the 'City Data' tab
			  <br>Check out the 'Pollution Data' tab to view the pollution index at your location
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Continue</button>
			</div>
		  </div>
		</div>
	  </div>
	  <br>
	  <br>
	  <br>
	  <br>
	<!-- insert content for app homepage -->
		<form class="d-flex" role="search" action="" method="post">
			<input class="form-control me-2" type="text" placeholder="City Search" aria-label="Search" name="search_box">
			<button class="btn btn-outline-success" type="submit" value="Search">Search</button>
		</form>

	<table class="table">
  		<thead>
    		<tr>
    			<th scope="col">City</th>
    			<th scope="col">Current Temperature (&#8451;)</th>
    			<th scope="col">Current Temperature (&#8457;)</th>
				<th scope="col">Minimum Temperature (&#8451;)</th>
    			<th scope="col">Minimum Temperature (&#8457;)</th>
				<th scope="col">Maximum Temperature (&#8451;)</th>
    			<th scope="col">Maximum Temperature (&#8457;)</th>
				<th scope="col">Feels like (&#8451;)</th>
    			<th scope="col">Feels like (&#8457;)</th>
				<th scope="col">Wind Speed (MPH)</th>
				<th scope="col">Description</th>
    		</tr>
  		</thead>
		<tbody>
			{% if city %}
				<tr>
					<td>{{ city }}</td>
					<td>{{ tempC }}</td>
					<td>{{ tempF }}</td>
					<td>{{ minC }}</td>
					<td>{{ minF }}</td>
					<td>{{ maxC }}</td>
					<td>{{ maxF }}</td>
					<td>{{ feelC }}</td>
					<td>{{ feelF }}</td>
					<td>{{ windSpeed }}</td>
					<td>{{ desc }}</td>
				</tr>
			
		</tbody>
	</table>
	<br>
	<br>
	<br>
	<br>
	<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
		<symbol id="check-circle-fill" viewBox="0 0 16 16">
		  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
		<symbol id="info-fill" viewBox="0 0 16 16">
		  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
		</symbol>
		<symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
		  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</symbol>
	  </svg>

	<div class="alert alert-success d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" width=20px height=20px><use xlink:href="#check-circle-fill"/></svg>
		<div>
		  Successfully loaded weather data
		</div>
	</div>
	{% endif %}

{% endblock%}
